<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.openerp"
    android:versionCode="10"
    android:versionName="1.0 Beta" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >

        <!-- Android Account Authentication Service -->
        <service android:name="com.openerp.auth.OpenERPAuthenticateService" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" >
                </action>
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" >
            </meta-data>
        </service>

        <!-- Message Sync Providers -->
        <provider
            android:name="com.openerp.providers.message.MessageProvider"
            android:authorities="com.openerp.providers.message"
            android:enabled="true"
            android:exported="true"
            android:label="Messages"
            android:syncable="true" />
        <!-- User Group Sync Providers -->
        <provider
            android:name="com.openerp.providers.groups.UserGroupsProvider"
            android:authorities="com.openerp.providers.groups"
            android:enabled="true"
            android:exported="true"
            android:label="Groups"
            android:syncable="true" />
        <!-- Note Sync Providers -->
        <provider
            android:name="com.openerp.providers.note.NoteProvider"
            android:authorities="com.openerp.providers.note"
            android:enabled="true"
            android:exported="true"
            android:label="Notes"
            android:syncable="true" />

        <!-- Message sync Services -->
        <service
            android:name="com.openerp.services.MessageSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_messages" />
        </service>

        <!-- User Group sync Services -->
        <service
            android:name="com.openerp.services.UserGroupsSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_groups" />
        </service>

        <!-- Meeting sync Services -->
        <service
            android:name="com.openerp.services.MeetingSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_meetings" />
        </service>

        <!-- note sync Services -->
        <service
            android:name="com.openerp.services.NoteSyncService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_notes" />
        </service>

        <!-- Contact sync Services -->
        <service
            android:name="com.openerp.services.ContactSyncService"
            android:exported="true"
            android:process=":contacts" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data
                android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <!-- Sync Status Broadcast -->
        <receiver android:name="com.openerp.receivers.SyncProgressReceiver" >
            <intent-filter>
                <action android:name="com.openerp.SYNC_PROGRESS" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.openerp.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.openerp.AppSettingsActivity" />
        <activity
            android:name="com.openerp.addons.messages.MessageComposeActivty"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="vnd.android.cursor.item/vnd.com.openerp.auth.profile" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openerp.addons.messages.MessageRecipientActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.openerp.addons.note.ComposeNoteActivity"
            android:label="@string/app_name" >
        </activity>

        <!-- Widget Broad Cast Reciever -->
        <receiver android:name="com.openerp.widget.Mobile_Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_provider" />
        </receiver>
    </application>

</manifest>